.App {
  display: flex;
  flex-direction: column;
}

span, p {
  font-size: 20px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: "Arial", sans-serif;
}

.introduction span {
  font-weight: bold;
}

.greeting {
  font-size: 3rem;
  height: 3rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.arrow {
  margin-top: 20px;
  fill: var(--secondary-color);
  transition: ease 0.3s;
}
.arrow:hover {
  fill: var(--text-color);
  transition: ease 0.3s;
  cursor: pointer;
}

.hidden-until-scroll {
  margin-top: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-color);
  font-weight: bold;
}
.section span {
  font-size: 5rem;
}
.section p {
  width: 700px;
  text-align: left;
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: 50%;
  left: 4rem;
  transform: translateY(-200%);
  gap: 20px;
  font-size: 2rem !important;
  padding: 1rem;
  border: 2px solid var(--accent-color);
  border-radius: 15px;
  transition: ease 0.3s, transform 0.6s ease;

  opacity: 0;
}
header span {
  font-size: 2rem !important;
}
header:hover {
  border-color: var(--tertiary-color);
  transition: ease 0.3s;
}

.visible {
  opacity: 1;
  transform: translateY(-50%);
}

.flag {
  opacity: 50%;
  transition: opacity 0.3s ease-in-out;
  align-self: center;
}
.flag:hover {
  opacity: 100%;
  cursor: pointer;
}

.full-opacity {
  opacity: 100% !important;
}

.pho {
  width: 15rem;
  height: 15rem;
}
.lucca {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.tech-stack {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  text-decoration: underline;
  color: #6d9eff;
}

.content {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.arcane {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.maldives,
.games {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.globe {
  position: absolute;
  right: 8rem;
  top: 5rem;
  font-size: 3rem;
  transition: transform 0.3s ease;
  transform-origin: center; 
}
.globe:hover {
  transform: scale(1.33); 
  cursor: pointer;
}

/* About Page */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  max-width: 800px; 
  margin: 0 auto;    
  color: var(--text-color);
  font-family: "Arial", sans-serif;
  font-weight: bold;
  gap: 40px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 2px solid var(--line-break-color); 
  width: 100%; 
}

h2 {
  font-size: 1.5rem;
}

.extras {
  font-size: 3rem;
}

.tricking {
  text-align: start;
  align-self: flex-start;
}

.exit-arrow {
  position: fixed;
  left: 8rem;
  top: 6rem;
  transition: transform 0.2s ease;
  fill: var(--text-color);
}
.exit-arrow:hover {
  transform: translateX(-5px);
  cursor: pointer;
}

/* Changing Theme Button */

.themeButton {
  position: absolute;
  left: 8rem;
  top: 5rem;
  border-radius: 50%;
  border: none;
  background-color: var(--theme-button-outer);
  transition: background-color 0.3s ease, transform 0.3s ease; 
}
.themeButton:hover {
  cursor: pointer;
  transform: scale(1.2); 
}

.sun, .moon {
  padding: 7px 7px;
  fill: var(--theme-button-inner);
  transition: fill 0.3s ease; 
}
.sun-to-moon, .moon-to-sun {
  transition: transform 1s ease-in-out; 
}
.sun-to-moon {
  transform: rotate(180deg);
}
.moon-to-sun {
  transform: rotate(0deg);
}